body {
    font-family: 'Poppins', sans-serif;
    /* text-align: center; */
}

* {
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

.navbar-custom {
    background-color: #000;
}

.navbar-custom a {
    color: #fff;
    padding: 0px;
    margin: 0px 30px;
}

.navbar ul {
    list-style: none;
}
  
.navbar ul li {
    display: inline-block;
    /* margin-left: 20px;  */
}
  
.navbar ul li a {
    text-decoration: none; 
    color: #fff;
    display: block;
    position: relative;
}
  
.navbar ul li a::before {
    content: '';
    height: 4px;
    background-color: #fff;
    width: 0%;
    position: absolute;
    bottom: -22px;
    transition: all .5s ease;
}
  
.navbar ul li a:hover::before {
    width: 100%;
    left: 0;
}
  
.navbar ul li a.active::before {
    width: 100%;
    left: 0;
}
.navbar-toggler {
    border: none;
    outline: none;
  }

.nav-item {
    margin: 0.5rem 0;
}

#carousel {
    margin-top: 4rem;
}

#carousel .carousel-caption h5 {
    margin-bottom: 450px;
    color: #000;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    /* position: absolute; */
    font-weight: bolder;
}

.left-control, .right-control {
    font-size: 20px;
    height: 30px;
    line-height: 25px;
    width: 30px;
}

.about, .collection, .product, .philosophy, .contact, .col-card {
    line-height: 2;
    /* margin-bottom: 100px; */
    padding: 5px 0 50px;
}

.about-image {
    height: 450px;
    width: 450px;
    margin: 70px 0 0;
    box-shadow: 8px 8px rgb(100,100,100);
}

.heading {
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    margin: 50px 10px 0;
}

.collection {
    background-image: url("../images/about-bg.jpg");
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    line-height: 2;
    background-attachment: fixed;
}

.collection a, .product a {
    text-decoration: none;
    color: #fff;
}

.photos {
    background-color: #2b2c2e;
    color: #fff;
}

.photos .row > div { 
    margin-bottom: 30px;
}

.contact {
    background-image: url("../images/contact-bg.jpg");
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    line-height: 2;
    background-attachment: fixed;
}

.contact p {
    margin: 0 100px;
}

form, .address {
    margin: 50px 0 0;
}

.footer {
    background-color: #212529;
    text-align: center;
    padding: 30px 50px;
}

.fa {
    color: #fff;
    margin: 0 10px;
}

.fa:hover {
    font-size: 20px;
}

.copyright {
    padding: 20px 10px 0px;
    text-align: center;
}

.copyright p.pull-right {
    float: none !important;
}

#cards, #productlist {
    margin-top: 5rem;
}

.pro {
    height: 600px;
    width: 500px;
    margin: 0 0 30px;
}

.prod-text {
    padding: 150px 80px;
    line-height: 2;
}

html {
    scroll-behavior: smooth;
}
 
 @media screen and (min-width: 768px) {
    
/*
    .about-image, .product-image {
        width: 300px;
        height: 300px;
        text-align: center;
        margin: 0 15px 30px;
    }

    .photos {
        text-align: center;
        padding: 15px;
    }

    .about, .collection, .product, .philosophy, .contact, .card-text, .prod-text {
        font-size: 16px;
        padding: 10px;
    }

    #carousel .carousel-caption h5 {
        font-size: 40px;
    }

    .navbar ul li a:hover::before {
        width: 0%;
        left: 0;
    }

    .navbar ul li a.active::before {
        width: 0%;
        left: 0;
    }

    .heading {
        margin: 0px 2px 0;
    }

    .contact p {
        margin: 0;
    }

    form, .address {
        margin: 10px 0 0;
    }

    .card {
        margin: 0 20px 30px;
    }

    .pro {
        width: 300px;
        height: 300px;
        text-align: center;
        margin: 0 25px 30px;
    }*/

    .small {
        display: none;
    }


} 

@media screen and (max-width: 600px) {
    .navbar li:first-child {
        margin-top: 2rem;
    }

    .about-image, .product-image {
        width: 300px;
        height: 300px;
        text-align: center;
        margin: 0 15px 30px;
    }

    .photos {
        text-align: center;
        padding: 15px;
    }

    .about, .collection, .product, .philosophy, .contact, .card-text, .prod-text {
        font-size: 14px;
        padding: 10px;
    }

    #carousel .carousel-caption h5 {
        font-size: 20px;
    }

    .navbar ul li a:hover::before {
        width: 0%;
        left: 0;
    }

    .navbar ul li a.active::before {
        width: 0%;
        left: 0;
    }

    .heading {
        margin: 0px 2px 0;
    }

    .contact p {
        margin: 0;
    }

    form, .address {
        margin: 10px 0 0;
    }

    .card {
        margin: 0 20px 30px;
    }

    .large {
        display: none;
    }

    .pro {
        width: 300px;
        height: 300px;
        text-align: center;
        margin: 0 25px 30px;
    }
}